@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --border: 216 34% 17%;
    --primary: 220.9 39.3% 11%;
    --secondary: 217.2 32.6% 17.5%;
  }
  .dark {
    --background: 222.2 47.4% 11.2%;
    --foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
  }
}
