app = "pacai-v5"
primary_region = "iad"

[build]
builder = "paketobuildpacks/builder:base"
builder_args = { "DOCKERFILE" = "Dockerfile" }

[[services]]
http_port = 8080
internal_port = 8080
protocol = "tcp"

[[services.ports]]
handlers = ["http", "tls"]
port = 443

[[services.ports]]
handlers = ["http"]
port = 80

[[services.tcp_checks]]
interval = 10000
timeout = 5000
grace_period = "5s"

[mounts]
source = "pacai_vol"
destination = "/data"

[env]
NODE_ENV = "production"

[deploy]
release_command = "npm run db:push"
strategy = "rolling"
