[Desktop Entry]
Name=PacAI v5 Admin
Comment=Enterprise Defense Simulation Admin Console
Exec=PacAI-v5-Admin
Icon=pacai
Terminal=false
Type=Application
Categories=Development;Game;
Keywords=simulation;defense;ai;worldgen;
StartupNotify=true
StartupWMClass=pacai-v5-admin
